<!-- Daily Activity -->
<mat-card class="overview">
  <mat-card-content>
    <h4 class="mb-60">Prestamos de Hoy</h4>
    <div class="d-flex" *ngFor="let activity of actividadPrestamoDia">
      <p class="fw-bold ps-16 fs-12" style="width: 115px;">{{ activity.time }}</p>
      <div class="activity-border" style="width: 300px;">
        <div class="deep">
          <div class="activity-ring">
            <div class="ring {{ activity.ringColor }}"></div>
          </div>
        </div>
        <p class="ps-20 pe-16 activity-message">{{ activity.message }}</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>