<!-- form to create a ejemplar-libro -->
<mat-card id="formCrearAutor" class="w-100 overview hide-form">
    <mat-card-content>
  
      <h4 class="mb-56"> {{ tituloFormulario }} </h4>
  
      <form [formGroup]="formCrearAutor">
        <mat-form-field class="w-100 fs-16" appearance="outline">
          <mat-label>Código autor</mat-label>
          <input matInput type="text" formControlName="cod_autor" placeholder="Ingresa el codigo del autor" />
        </mat-form-field>
  
        <mat-form-field class="w-100 fs-16" appearance="outline">
          <mat-label>Nombre del autor</mat-label>
          <input matInput type="text" formControlName="nombre_autor" placeholder="Ingresa el nombre del autor" />
        </mat-form-field>
  
        <div class="parent">
          <div class="div1">
            <button mat-raised-button class="me-8 mb-8 btnAgregar" id="btnAgregar" color="primary" (click)="crearAutor()">Ingresar</button>
            <button mat-raised-button class="me-8 mb-8 btnEditar" id="btnEditar" color="primary" (click)="editarAutor()">Editar</button>
          </div>
          <div class="div2">
            <button mat-raised-button class="me-8 mb-8" color="warn" (click)="hideForm()">Cancelar</button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  
  <!--TABLA AUTOR -->
  <mat-card class="w-100 overview">
    <mat-card-content>
      <h4 class="mb-56">autor</h4>
  
      <div class="m-b-20">
        <button mat-raised-button class="me-8 mb-8" (click)="showForm()">Ingresar autor</button>
      </div>
  
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" id="table-to-paging" class="text-nowrap w-100 dark-table display">
  
          <!-- Id Column -->
          <ng-container matColumnDef="cod_autor">
            <th mat-header-cell *matHeaderCellDef> Código autor  </th>
            <td mat-cell class="fw-medium" *matCellDef="let element"> {{element.cod_autor}} </td>
          </ng-container>
  
          <ng-container matColumnDef="nombre_autor">
            <th mat-header-cell *matHeaderCellDef> Nombre autor</th>
            <td mat-cell class="fw-medium" *matCellDef="let element"> {{element.nombre_autor}} </td>
          </ng-container>

          <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef> Editar </th>
            <td mat-cell class="fw-medium" *matCellDef="let element"> 
              <button mat-icon-button color="primary" (click)="cargarFormularioAutor(element)">
                <mat-icon fontIcon="edit">Editar</mat-icon>
              </button>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator #paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>

